.create-account-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1%;
    background-color: #FAF9F6;
    width: 500px;
    height: 510px;
    margin-top: 60px;
}
.navbar {
    background-color: #FAF9F6;
}
.navbar-brand {
    padding-left: 10px;
}
input {
    height: 35px;
}
button {
    margin-top: 20px;
    width: 250px;
    padding: 5px;
}