html, body {
    background-color: #BBD6B8;
    font-family: 'Raleway', sans-serif;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.title {
    margin-bottom: 40px;
}
.login-box {
    display: flex;
    flex-direction: column;
    border-radius: 1%;
    background-color: white;
    width: 500px;
    height: 325px;
    padding: 1rem;
}
label {
    display: inline-block;
    width: 100%;
}
input {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 20px;
    width: 250px;
    padding: 5px;
    transition: 0.5s;
}
button {
    margin-top: 20px;
    width: 265px;
    padding: 5px;
}
button:hover {
    cursor: pointer;
}